name: Build dlc.dat
on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 0'  # Run at 12:00 PM UTC (8:00 PM Singapore Time) every Sunday
permissions:
  actions: write
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:         
      - name: Checkout codebase
        uses: actions/checkout@v5
        with:
          path: code
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: code/go.mod
          cache-dependency-path: code/go.sum
      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
        shell: bash
      - name: Keepalive Workflow
        uses: gautamkrishnar/keepalive-workflow@v2 # 自动通过 API 更新 repo 状态，防止 workflow 暂停

      - name: Install sing-box
        run: |
          curl -fsSL https://sing-box.app/install.sh | sh
          sing-box version

          
      - name: Build dlc.dat file
        run: |
          ls -lh
          pwd # we're at ......./v2flyDatForge/v2flyDatForge/code/
          cd code || exit 1
          cd data
          rm -rf *
          curl -L https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/nsfw-onlydomains.txt > nsfw
          cd ..
          go run ./ --outputdir=../
          cd ..
          curl -L https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/nsfw.txt > adblock.txt
      
      - name: Build singbox srs rules.
        run: |
          sing-box rule-set convert ./adblock.txt  -t adguard -o nsfw.srs

      - name: Convert loyalsodier rules to mrs
        run: |
          wget -q https://github.com/MetaCubeX/mihomo/releases/download/v1.19.13/mihomo-linux-amd64-v1-v1.19.13.deb
          sudo dpkg -i mihomo*
          wget -q https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/reject.txt
          wget -q https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/proxy.txt
          wget -q https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/direct.txt
          wget -q https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/private.txt
          wget -q https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/lancidr.txt
          mihomo convert-ruleset domain yaml reject.txt reject.mrs
          mihomo convert-ruleset domain yaml proxy.txt proxy.mrs
          mihomo convert-ruleset domain yaml direct.txt direct.mrs
          mihomo convert-ruleset domain yaml private.txt private.mrs
          mihomo convert-ruleset ipcidr yaml lancidr.txt lancidr.mrs

      - name: Release Firmware
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: ${{ env.RELEASE_NAME }}
          files: |
            /home/runner/work/v2flyDatForge/v2flyDatForge/dlc.dat 
            /home/runner/work/v2flyDatForge/v2flyDatForge/nsfw.srs
            /home/runner/work/v2flyDatForge/v2flyDatForge/*.mrs
